@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.cursive{
    font-family: "Amatic SC", cursive;
    font-weight: 700;
}
.prose{
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.home-name{
    font-size: 150px;
}